In [33]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv(r"C:\Users\thesh\Downloads\titanic\train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Age shows only 714 (means missing), Embarked (2 missing) and Cabin missing a lot as well

In [22]:
df.shape

(891, 12)

Dropping Columns which are not useful

In [23]:
cols = ['Name', 'Ticket', 'Cabin']
df = df.drop(cols, axis=1)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

Dropping rows having missing values

In [25]:
# drop all rows in the data that has missing values (NaN)
df = df.dropna()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [27]:
df.shape

(712, 9)

Creating Dummy Variables

convert the Pclass, Sex, Embarked to columns in pandas and drop them after conversion.

In [28]:
dummies = []
cols = ['Pclass', 'Sex', 'Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

titanic_dummies = pd.concat(dummies, axis=1)

finally we concatenate to the original dataframe columnwise

In [29]:
df = pd.concat((df,titanic_dummies), axis=1)

converted Pclass, Sex, Embarked values into columns,drop the redundant same columns from the dataframe

In [30]:
df = df.drop(['Pclass', 'Sex', 'Embarked'], axis=1)

Lets take a look on the new dataframe

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    bool
 7   2            712 non-null    bool
 8   3            712 non-null    bool
 9   female       712 non-null    bool
 10  male         712 non-null    bool
 11  C            712 non-null    bool
 12  Q            712 non-null    bool
 13  S            712 non-null    bool
dtypes: bool(8), float64(2), int64(4)
memory usage: 44.5 KB

Converting the dataframe to numpy

converted all the data to numeric, its time for preparing the data for machine learning models. This is where scikit and numpy come into play

In [32]:
X = df.values
y = df['Survived'].values

X has still Survived values in it, which should not be there. So we drop in numpy column which is the 1st column.

In [34]:
X = np.delete(X, 1, axis=1)

Dividing data set into training set and test set

 lets split the dataset for 70% Training and  30% test set using scikit model_selection

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)